.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
}

.search-input,
.days-select,
.search-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-input {
    width: 100%;
    max-width: 300px;
}

.days-select {
    width: 100px;
}

.input-group {
    display: flex;
    align-items: center;
}

.search-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}






.weather-cards {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.weather-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.date {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.weather-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.temperature {
    font-size: 24px;
    color: #ff6600;
    font-weight: bold;
}